<div class="container">
    <br>
    <!-- String interpolation -->
    <h1>{{ componentTitle }}</h1> 
    <!-- Property binding -->
    <button class="btn btn-primary" [disabled]="propertyBindingButton">PropertyBinding</button>
    <p [innerText]="propertyBindingButton">Disable = {{ propertyBindingButton }}</p>
    <!-- event binding -->
    <button class="btn btn-danger" (click)="buttonClicked()">Event binding</button>
    <p>{{ eventbinding }}</p>
    <input name="testEvent" (keyup)="handleChange($event)" placeholder="Two way databinding"  />
    <p>{{ handleChangeData }}</p>
    <br><hr>
    <!-- If Else condition -->
    <button class="btn btn-warning" (click)="changeServerStatus()">If condition</button>
    <div>
        <p *ngIf="serverStatus else elseCondition">Server Is running</p>
    </div>
    <ng-template #elseCondition>
        <p>
            Server is not running
        </p>
    </ng-template>
    <!-- Condition style -->
    <p [ngStyle]="{'background-color': serverStatus ? 'green' : 'red'}">Condtionalaly style and depend on server status</p>
    <p [ngClass]="serverStatus  ? 'green' : 'red'">Condtionalaly add class and Depend on server status</p>
</div>